
.about-main-wrapper {
	background-color: #f5f5f5;
}
.about-left {
    padding: 50px 50px 20px;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
	background-color: var(--color-white);
	height: 100%;
}
.about-left h1{
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 65px;
	letter-spacing: 0.05em;
	color: #13184D;
	mix-blend-mode: normal;
	margin-bottom: 35px;
}
.about-left h2{
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 25px;
	letter-spacing: 0.08em;
	color: #3E3E3E;
	margin-bottom: 50px;
}
.about-left h1 span{
	color: #BEA600;
	display: block;
	margin-left: 65px;
}
.about-left p {
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 17px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #000000;
	margin: 0;
}
.about-left-bottom{
	margin-top: 50px;
}
.about-left-bottom p{
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
	margin-bottom: 15px;
}
.about-left ul {
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 17px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #000000;
	margin: 0 0 50px;
}
.process-list{
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-bottom: 10px;
}
.process-list h3{ 
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #13184D;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0;
	min-width: 110px;
}
.process-list h3 span{
	display: block;
}
.process-list p{
	margin-top: 35px;
	margin-bottom: 0;
}
.about-right-top{
	padding: 110px 30px 30px 30px;
}

.about-right h1{
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 65px;
	letter-spacing: 0.05em;
	color: #13184D;
	mix-blend-mode: normal;
	margin-bottom: 35px;
}
.about-right-top h2{
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0.08em;
	color: #3E3E3E;
	mix-blend-mode: normal;
	margin-bottom: 35px;
}
.about-right-top ul{
	margin: 0 0 0 40px;
	padding: 0;
	list-style: none;
}
.about-right-top ul li{
	font-style: normal;
	font-family: var(--font-primary);
	font-weight: normal;
	font-size: 17px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #000000;
	margin-bottom: 15px;
}
.team-info-wrapper{
	margin-top: 30px;
}
.team-info-box{
	background-color: #E5E5E5;
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}
.team-info-left{
	flex: 1.9;
	width: 100%;
}
.team-info-left p{
	font-family: var(--font-secondry);
	font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #13184D;
    mix-blend-mode: normal;
    padding: 24px 0 0 40px;
	margin-bottom: 0;
}
.team-pic{
	position: relative;
	z-index: 999;
}
.team-img {
    position: relative;
    z-index: 999;
    padding: 0 0 0 40px;
}
.team-img img{
	max-width: 180px;
	border: 3px solid #BEA600;
}
.team-name {
    background-color: #B8AF81;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 80px;
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
	display: flex;
	align-items: left;
	letter-spacing: 0.15em;
	color: #13184D;
	flex-direction: column;
	padding-left: 54%;
}
.team-name span {
    display: block;
    font-size: 18px;
    line-height: normal;
}
.team-info-right{
	flex: 2;
	padding: 40px;
}
.about-container h1 {
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.12em;
	color: var(--secondry-color);
	mix-blend-mode: normal;
	margin-bottom: 2rem;
	
}

.about-container p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: var(--color-black);
}

.about-info {
	margin-top: 1rem;
}

.about-header {
	background-color: var(--bg-gray-light);
	padding: 15px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	font-family: var(--font-secondry);
	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
	color: var(--secondry-color);
	mix-blend-mode: normal;
	min-height: 90px;
}

.about-content {
	padding: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: var(--color-black);
}

.title-big {
	background-color: var(--title-big);
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;
	color: var(--color-black);
	padding: 15px 0;
}

.title-big-primary {
	background-color: var(--bgprimary-teal);
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;
	color: var(--color-black);
	padding: 10px 0;
	display: block;
	text-decoration: none;
}
.title-big-primary:hover{
	color: var(--color-black);

}
.team-wrapper .card-wrapper {
	flex: 1;
}

.team-wrapper .card-wrapper h3 {
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.15em;
	color: var(--secondry-color);
	mix-blend-mode: normal;
}

.team-wrapper .card-wrapper h3 span {
	display: block;
}
.team-wrapper .card-wrapper p {
	padding-left: 0;
	padding-right: 0;
}

.team-wrapper .image-box {
	height: auto;
	min-height: inherit;
}

.team-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 30px;
	flex-wrap: wrap;
}
#contact_us::after{
	display: none;
}
.our-process-dropdown .button-dark{
	background-color: var(--primary-color);
	color: var(--secondry-color);
	border: 6px solid var(--primary-color);
}
.our-process-dropdown .button-dark:hover{
	background-color: var(--primary-color);
	color: var(--secondry-color);
	border: 6px solid var(--primary-color);
}
.our-process-dropdown .button-dark:focus{
	background-color: var(--primary-color);
	color: var(--secondry-color);
	border: 6px solid var(--primary-color);
}
.our-process-dropdown .button-dark:active{
	background-color: var(--primary-color);
	color: var(--secondry-color);
	border: 6px solid var(--primary-color);
}
.our-process-dropdown .dropdown-menu {
    border-radius: 0;
    background-color: #D9D9D9;
    padding: 20px;
	width: 100%;
	margin-top: 16px;
}

.our-process-dropdown {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;

}
.our-process-dropdown .dropdown-menu  .dropdown-item{
    padding: 5px 5px;
    margin-bottom: 5px;
    align-items: center;
    background-color: #fff;
    width: auto;
    min-width: 100px;
    font-weight: 700;
	font-size: 25px;
	line-height: normal;
	text-align: center;
	font-family: var(--font-secondry);
	display: flex;
    align-items: center;
    justify-content: center;
	min-height: 60px;
	color: var(--color-black) !important;
}
.our-process-dropdown .dropdown-menu  .dropdown-item small {
    font-size: 18px;
}
.our-process-dropdown .dropdown-menu  .dropdown-item{
	background-color: #9999BC;
	border: 6px solid var(--lightblue-color);
}
.our-process-dropdown .dropdown-menu  .dropdown-item:hover{
	background-color: #9999BC;
	border: 6px solid var(--border-color-hover);

}
.our-process-dropdown .dropdown-menu  .dropdown-item:focus{
	background-color: var(--bg-yellow);
	border: 6px solid var(--bg-yellow);

}
.our-process-dropdown .dropdown-menu  .dropdown-item:first-child small{
	margin-right: 5px;
}
.our-process-dropdown .dropdown-menu  .dropdown-item:last-child{
	flex-direction: column;
	background-color: #87AF81;
	border: 6px solid #87AF81;
}
.our-process-dropdown .dropdown-menu  .dropdown-item:last-child:hover{
	background-color: #87AF81;
	border: 6px solid var(--color-black);

}
.our-process-dropdown .dropdown-menu  .dropdown-item:last-child:focus{
	background-color: var(--bg-yellow);
	border: 6px solid var(--bg-yellow);

}
.dropdown-arrow-icon{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -20px;
	text-align: center;
}
@media (max-width: 1400px) {
	.team-name {
		font-size: 18px;
		line-height: 26px;
		padding-left: 50%;
		top: 100px;
	}
	.team-img img {
		max-width: 150px;
	}
	.team-img {
		padding: 40px 0 0 20px;
	}
}
@media (max-width: 1366px) {
	.team-name {
		font-size: 18px;
		line-height: 26px;
		padding-left: 44%;
		top: 75px;
	}
	.team-img img {
		max-width: 120px;
	}
	.team-img {
		padding: 40px 0 0 20px;
	}
}
@media (max-width: 1024px) {
	.about-left{
		padding: 30px;
	}
	.about-left h1, .about-right h1{
		font-size: 24px;
		line-height: 28px;
	}
	.about-right-top {
		padding: 60px 0 30px 30px;
	}
	.about-right-top h2{
		font-size: 20px;
    	line-height: 30px;
	}
	.about-right-top ul li {
		font-size: 16px;
		line-height: 20px;
	}
	.team-info-box{
		flex-direction: column;
	}
}
@media (max-width: 640px) {
	.team-name{
		position: relative;
		padding: 0;
		align-items: center;
		top: 0;
	}
	.team-img {
		position: relative;
		padding: 20px 0 0;
		text-align: center;
	}
	.process-list {
		flex-direction: column;
		text-align: center;
	}
	.process-list p {
		margin-top: 0;
		margin-bottom: 35px;
	}
	.team-info-right, .team-info-left p, .about-left {
		padding: 20px;
	}
	.about-right-top h2 br{
		display: none;
	}
}

