:root {
	--primary-color: #BEA600;
	--secondry-color: #13184D;
	--color-black: #000000;
	--color-black-1: rgba(0, 0, 0, 0.1);
	--color-black-7: rgba(0, 0, 0, 0.75);
	--font-primary: 'Montserrat', sans-serif;
	--font-secondry: 'Libre Baskerville';
	--bgprimary-light: #BEA600;
	--bgprimary-dark: #13184D;
	--bg-white: #ffffff;
	--bg-white-light-1: #F5F5F5;
	--bg-yellow: #B8AF81;
	--bg-gray-light: #B2B2B2;
	--green-light: #87AF81;
	--title-big: #6AD8D8;
}

body {
	font-family: var(--font-primary);
}

h1 {
	font-weight: 600;
	font-size: 24px;
}

/* .header-logo {
	padding: 10px 0;
}

.header-bg img {
	width: 100%;
}

.header-nav nav {
	background-color: var(--bg-yellow);
	padding: 8px 0;
}

.header-nav nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.header-nav nav ul li {
	padding: 0 10px;
	border-right: 2px solid var(--color-black);
}

.header-nav nav ul li:last-child {
	border: none;
}

.header-nav nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.02em;

	color: var(--color-black);
} */
/* 
.navbar-toggler {
	padding: 0;
	font-size: 24px;
	line-height: 1;
	background-color: var(--bgprimary-dark);
	color: var(--bg-white);
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: auto;
}

.main-wrapper {
	min-height: 60vh;
	max-width: 1400px;
	margin: 50px auto 0;
}

.card-wrapper h1 {
	font-weight: 600;
	font-size: 24px;
}

.grey-card-bg {
	background-color: var(--bg-white-light-1);
	border: 1px solid var(--color-black-1);
	border-radius: 2px;
	margin-bottom: 2rem;
	padding: 3rem;

}

.image-box {
	min-height: 250px;
	background-color: var(--bg-white);
	margin-bottom: 1rem;
}

.image-box img {
	width: 100%;
}

.button-light {
	background-color: var(--bgprimary-light);
	color: var(--secondry-color);
	border-radius: none;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;
	font-family: var(--font-secondry);
	border-radius: 0;
	padding: 10px;
}

.button-light:hover {
	background-color: var(--bgprimary-dark);
	color: var(--primary-color);
}

.button-dark {
	background-color: var(--bgprimary-dark);
	color: var(--primary-color);
	border-radius: none;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;
	font-family: var(--font-secondry);
	border-radius: 0;
	padding: 10px;
}

.button-dark:hover {
	background-color: var(--bgprimary-light);
	color: var(--secondry-color);
}

.w-100 {
	width: 100%;
}

.grey-card-bg p {
	padding: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: var(--color-black);
	margin: 0;
} */

/* footer {
	background: var(--green-light);
	border: 1px solid var(--color-black-1);
	border-radius: 2px;
	min-height: 80px;
	padding: 15px;
}

.footer-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-nav ul li {
	flex: 1;
	text-align: center;
}

.footer-nav ul li a {
	text-decoration: none;
	color: var(--color-black);
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.15em;
} */

/* .copyright {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: var(--color-black-7);
	mix-blend-mode: normal;
	margin-top: 15px;
} */

/* .about-container h1 {
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.12em;
	color: var(--secondry-color);
	mix-blend-mode: normal;
	margin-bottom: 2rem;
}

.about-container p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: var(--color-black);
}

.about-info {
	margin-top: 1rem;
}

.about-header {
	background-color: var(--bg-gray-light);
	padding: 15px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	font-family: var(--font-secondry);
	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
	color: var(--secondry-color);
	mix-blend-mode: normal;
}

.about-content {
	padding: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: var(--color-black);
} */

/* .title-big {
	background-color: var(--title-big);
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;
	color: var(--color-black);
	padding: 15px 0;
}

.title-big-primary {
	background-color: var(--primary-color);
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;
	color: var(--color-black);
	padding: 15px 0;
} */

/* .team-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 30px;
	flex-wrap: wrap;
} */

/* .team-wrapper .card-wrapper {
	flex: 1;
}

.team-wrapper .card-wrapper h3 {
	font-family: var(--font-secondry);
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.15em;
	color: var(--secondry-color);
	mix-blend-mode: normal;
}

.team-wrapper .card-wrapper h3 span {
	display: block;
}

.team-wrapper .image-box {
	height: auto;
	min-height: inherit;
} */

/* .blog-card-thumb {
	border: 1px solid var(--color-black);
	
}

.blog-card-small {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.blog-card-thumb-small {
	width: 135px;
	height: 135px;
}

.blog-card-thumb-small img {
	width: 135px;
	height: 135px;
	object-fit: cover;
}

.blog-card-small p {
	padding: 0;
}

.blog-category-list {
	list-style: none;
	padding: 10px 25px;
	background-color: #9999BC;
}

.blog-category-list li a {
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0.15em;
	color: var(--secondry-color);
	text-decoration: none;
}

.blog-category-list li:not(:last-child) {
	padding-bottom: 16px;
} */


@media (max-width: 992px) {
	.header-nav nav ul li {
		border: none;
		display: block;
		padding: 5px 0;
	}

	.header-nav nav ul {
		align-items: flex-start;
		margin-top: 15px;
	}

	.grey-card-bg {
		padding: 1rem;
	}

	.grey-card-bg p {
		padding: 10px 0;
	}

	.about-container p,
	.grey-card-bg p {
		font-size: 16px;
		line-height: 24px;
	}

	.about-header,
	.team-wrapper .card-wrapper h3 {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: normal;
	}

	.about-content {
		letter-spacing: normal;
		font-size: 16px;
	}

	.header-bg img {
		width: inherit;
	}
}

@media (max-width: 640px) {
	.header-bg img {
		width: inherit;
	}

	.grey-card-bg {
		padding: 1rem;
	}

	.grey-card-bg p {
		font-size: 14px;
	}

	.footer-nav ul li a {
		font-size: 14px;
		letter-spacing: normal;
	}

	.about-header {
		font-size: 14px;
	}

	.about-content,
	.about-container p {
		letter-spacing: normal;
		font-size: 14px;
		line-height: 20px;
	}

	.team-wrapper {
		flex-direction: column;
	}

	.team-wrapper .card-wrapper h3 {
		font-size: 22px;
		line-height: 30px;
		letter-spacing: normal;
	}

	.copyright {
		font-size: 12px;
		line-height: 18px;
	}

	.header-logo img {
		max-width: 180px;
	}
}