.blog-details-top{
    display: flex;
    justify-content: space-between;
}
.share-btn button:after{
    display: none;
}
.blog-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.share-btn button, .share-btn button:hover, .share-btn button:focus, .share-btn button:active{
    background-color: #87AF81;
    border-radius: 0;
    min-width: 150px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    border: none;
    font-family: var(--font-secondry);
    gap: 15px;
    padding: 15px;
}
.share-btn button img{
    width: 20px;
}
.share-btn .dropdown-menu {
    border-radius: 0;
    background-color: #D9D9D9;
    padding: 15px;
}
.share-btn .dropdown-menu  .dropdown-item{
    padding: 5px 5px;
    margin-bottom: 5px;
    display: inline-block;
    align-items: center;
    background-color: #fff;
    width: auto;
    min-width: 100px;
    font-weight: 600;
    font-size: 12px;
}
.share-btn .dropdown-menu  .dropdown-item img{
    width: 20px;
    margin-right: 5px;
}
.blog-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.blog-content p.small{
    font-size: 16px;
}
.blog-content p a,
.blog-content p b{
    color: var(--secondry-color);
    font-weight: bold;
}
.blog-content p a:focus{
    color: var(--primary-color);
    font-weight: bold;
}
.blog-detail-heading {
    max-width: 50%;
}
.blog-content .list-bold li {
    font-weight: bold;
    color: var(--color-black);
}

@media screen and (max-width: 767px) {
    .blog-detail-heading {
        max-width: 100%;
    }
}
